{{>admin/layout/header}}

<!-- Page content -->
<div id="page-content">
    <!-- eCommerce Product Edit Header -->
    <div class="content-header">
        <ul class="nav-horizontal text-center">
            <li>
                <a href="page_ecom_dashboard.mustache"><i class="fa fa-bar-chart"></i> Dashboard</a>
            </li>
            <li>
                <a href="page_ecom_orders.mustache"><i class="gi gi-shop_window"></i> Orders</a>
            </li>
            <li>
                <a href="page_ecom_order_view.mustache"><i class="gi gi-shopping_cart"></i> Order View</a>
            </li>
            <li>
                <a href="page_ecom_products.mustache"><i class="gi gi-shopping_bag"></i> Products</a>
            </li>
            <li class="active">
                <a href="page_ecom_product_edit.mustache"><i class="gi gi-pencil"></i> Product Edit</a>
            </li>
            <li>
                <a href="page_ecom_customer_view.mustache"><i class="gi gi-user"></i> Customer View</a>
            </li>
        </ul>
    </div>
    <!-- END eCommerce Product Edit Header -->

    <!-- Product Edit Content -->
    <div class="row">
        <div class="col-lg-6">
            <!-- General Data Block -->
            <div class="block">
                <!-- General Data Title -->
                <div class="block-title">
                    <h2><i class="fa fa-pencil"></i> <strong>General</strong> Data</h2>
                </div>
                <!-- END General Data Title -->

                <!-- General Data Content -->
                <form method="post" class="form-horizontal form-bordered" id="productsForm" onsubmit="return false;">

                    <input type="hidden" id="productId" name="product_id" class="form-control" value="">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="productName">Name</label>
                        <div class="col-md-9">
                            <input type="text" id="productName" name="product_name" class="form-control"
                                   placeholder="Enter productEntity name..">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="productContent">Description</label>
                        <div class="col-md-9">
                            <!-- CKEditor, you just need to include the plugin (see at the bottom of this page) and add the class 'ckeditor' to your textarea -->
                            <!-- More info can be found at http://ckeditor.com -->
                            <textarea id="productContent" name="product_content" class="ckeditor"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="productEntity-short-description">Short
                            Description</label>
                        <div class="col-md-9">
                            <textarea id="productEntity-short-description" name="productEntity-short-description"
                                      class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="productCategory">Category</label>
                        <div class="col-md-8">
                            <input type="text" id="productCategory" name="product_category" class="form-control"
                                   placeholder="Enter Category"  autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="productPrice">Price</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-usd"></i></div>
                                <input type="text" id="productPrice" name="product_price" class="form-control"
                                       placeholder="0,00" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="productStock">Stock</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input type="text" id="productStock" name="product_stock" class="form-control"
                                       placeholder="0" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">    <!-- todo - product condition 필요한가? -->
                        <label class="col-md-3 control-label">Condition</label>
                        <div class="col-md-9">
                            <label class="radio-inline" for="productEntity-condition-new">
                                <input type="radio" id="productEntity-condition-new" name="productEntity-condition"
                                       value="condition_new" checked> New
                            </label>
                            <label class="radio-inline" for="productEntity-condition-used">
                                <input type="radio" id="productEntity-condition-used" name="productEntity-condition"
                                       value="condition_used"> Used
                            </label>
                        </div>
                    </div>
                    <div class="form-group">        <!-- todo 즉시 상품 진열은 어떻게 진행할 것인가?-->
                        <label class="col-md-3 control-label">Published?</label>
                        <div class="col-md-9">
                            <label class="switch switch-primary">
                                <input type="checkbox" id="productEntity-status" name="productEntity-status"
                                       checked><span></span>
                            </label>
                        </div>
                    </div>
                    <div id="keywordsListForm-group"></div>
                    <input type="hidden" name="categorId">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="keyword">Keywords</label>
                        <div class="col-md-9">
                            <input type="text" id="keyword" name="categoryName"
                                   class="form-control" placeholder="keywords..." autocomplete="off">
                            <div id="autoCompleteForm-group"></div>
                        </div>
                    </div>

                    <!-- 추가를 위한 모달창 -->
                    <div id="autoCompleteModal">
                        <div class="autoCompleteModal_content" id="autoCompleteModal_content"></div>

                        <div class="autoCompleteModal_layer"></div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="keyword_description">Meta
                            Description</label>
                        <div class="col-md-9">
                            <textarea id="keyword_description" name="keyword_description"
                                      class="form-control" rows="6" placeholder="Enter keyword description.."></textarea>
                            <div class="help-block">115 Characters Max</div>
                        </div>
                    </div>

                    <div class="form-group form-actions">
                        <div class="col-md-9 col-md-offset-3">
                            <button type="button" id="productSaveBtn" class="btn btn-sm btn-primary"><i
                                    class="fa fa-floppy-o"></i> Save
                            </button>
                            <button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Reset
                            </button>
                        </div>
                    </div>
                </form>
                <!-- END General Data Content -->
            </div>
            <!-- END General Data Block -->
        </div>
        <div class="col-lg-6">
            <!-- Product Images Block -->
            <div class="block">
                <!-- Product Images Title -->
                <div class="block-title">
                    <h2><i class="fa fa-picture-o"></i> <strong>Product</strong> Images</h2>
                </div>
                <!-- END Product Images Title -->

                <!-- Product Images Content -->
                <link rel="stylesheet" href="/admin/css/dragAndDrop.css">
                <div class="block-section">
                    <form enctype="multipart/form-data" id="fileImagesForm">
                    </form>
                    <!-- 파일을 드래그 앤 드롭 할 수 있는 곳 -->
                <script src="/admin/js/admin/imageDrop.js"></script>
                </div>
                <table class="table table-bordered table-striped table-vcenter">
                    <tbody>
                    <tr>
                        <td style="width: 20%;">
                            <a href="/admin/img/placeholders/photos/photo11.jpg" data-toggle="lightbox-image">
                                <img src="/admin/img/placeholders/photos/photo11.jpg" alt=""
                                     class="img-responsive center-block" style="max-width: 110px;">
                            </a>
                        </td>

                        <td class="text-center">
                            <label class="switch switch-primary">
                                <input type="checkbox" checked><span></span>
                            </label>
                            Cover
                        </td>
                        <td class="text-center">
                            <a href="javascript:void(0)" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i>
                                Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/admin/img/placeholders/photos/photo13.jpg" data-toggle="lightbox-image">
                                <img src="/admin/img/placeholders/photos/photo13.jpg" alt=""
                                     class="img-responsive center-block" style="max-width: 110px;">
                            </a>
                        </td>
                        <td class="text-center">
                            <label class="switch switch-primary">
                                <input type="checkbox"><span></span>
                            </label>
                            Cover
                        </td>
                        <td class="text-center">
                            <a href="javascript:void(0)" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i>
                                Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/admin/img/placeholders/photos/photo9.jpg" data-toggle="lightbox-image">
                                <img src="/admin/img/placeholders/photos/photo9.jpg" alt=""
                                     class="img-responsive center-block" style="max-width: 110px;">
                            </a>
                        </td>
                        <td class="text-center">
                            <label class="switch switch-primary">
                                <input type="checkbox"><span></span>
                            </label>
                            Cover
                        </td>
                        <td class="text-center">
                            <a href="javascript:void(0)" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i>
                                Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- END Product Images Content -->
            </div>
            <!-- END Product Images Block -->
        </div>
    </div>
    <!-- END Product Edit Content -->
</div>
<!-- END Page Content -->
<link rel="stylesheet" href="/admin/css/auto.css">
<script type="module" src="/admin/js/admin/product.js"></script>
<script type="module" src="/admin/js/admin/autoComplete.js"></script>
{{>admin/layout/footer}}